 <!-- ****************************** AÑADIR HEADER AQUÍ **********************************--> <!--------------- Añadir header aquí ---------------->
  <app-header />

<!-- ****************************** AÑADIR RESULTADO DEL EXAMEN Y NOTA AQUÍ **********************************-->
  <div class="mx-auto p-4 flex justify-center space-x-8">
    <!-- Primer bloque -->
    <div class="p-4 text-center border rounded-xl bg-gray-100">
      <h2 class="text-lg font-semibold mb-4">El RESULTADO de tu examen es el siguiente:</h2>
      <ul>
        <span>Preguntas <strong>totales</strong>:</span>
        <span class="ml-1 font-bold">{{ userAnswers.length }}</span>
      </ul>
      <ul>
        <span>Preguntas <strong>acertadas</strong>:</span>
        <span class="ml-1 font-bold">{{ examSummary?.correctAnswers }}</span>
      </ul>
      <ul>
        <span>Preguntas <strong>falladas</strong>:</span>
        <span class="ml-1 font-bold">{{ examSummary?.incorrectAnswers }}</span>
      </ul>
      <ul>
        <span>Preguntas <strong>no respondidas</strong>:</span>
        <span class="ml-1 font-bold">{{ examSummary?.unansweredQuestions }}</span>
      </ul>
    </div>

    <!-- Segundo bloque -->
    <div class="p-4 text-center border rounded-xl bg-gray-100">
      <h2 class="text-lg font-semibold mb-4">Tu NOTA sería la siguiente en los siguientes casos:</h2>
      <li>
        <span>Si no restan preguntas mal contestadas, tu nota sería:</span>
        <span class="ml-1 font-bold">{{ scores.noPenalty.toFixed(2) }}</span>
      </li>
      <li>
        <span>Si cada 2 mal, resta 1 bien, tu nota sería:</span>
        <span class="ml-1 font-bold">{{ scores.penaltyTwo.toFixed(2) }}</span>
      </li>
      <li>
        <span>Si cada 3 mal, resta 1 bien, tu nota sería:</span>
        <span class="ml-1 font-bold">{{ scores.penaltyThree.toFixed(2) }}</span>
      </li>
      <li>
        <span>Si cada 4 mal, resta 1 bien, tu nota sería:</span>
        <span class="ml-1 font-bold">{{ scores.penaltyFour.toFixed(2) }}</span>
      </li>
    </div>
  </div>

<!-- ****************************** AÑADIR CORRECCIÓN AQUÍ **********************************-->
  <div class="flex justify-center p-4">
    <div class="w-full max-w-3xl">
      <div
        *ngFor="let question of correctedExamQuestions; let i = index"
        class="p-6 mb-12 border rounded-xl bg-gray-50"
      >
        <h2 class="text-lg font-semibold mb-2 pr-12"
        [innerHTML]="i + 1 + ' . ' + question.title ">
        </h2>
        <div class="relative">
          <hr class="border-t border-gray-300 mb-4" />
          <i title="Ver motivo" class="fa-solid fa-circle-info fa-lg absolute top-[calc(50%-23px)] right-7"
            style="color: #DE9A17; cursor: pointer;"
            (click)="toggleJustification(question)"
          >
          </i>
          <img
          (click)="openModal(question.id)"
          ngSrc="reporte2.png"
          class="absolute top-[calc(50%-33px)] right-0 "
          width="20"
          height="20"
          title="reportar pregunta"
          style="cursor: pointer"
        />
        </div>
        <ul class="list-none space-y-2">
          <li *ngFor="let respuesta of [question.option1, question.option2, question.option3, question.option4]"
              [ngClass]="{
                'text-green-500 ': isCorrect(question, respuesta) || isUserSelectedAndCorrect(question, respuesta),
                'text-red-500 ': isUserSelectedAndIncorrect(question, respuesta)
              }">

            @if (respuesta !="") {
              <label class="flex items-center space-x-3">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-yellow-500 border-gray-300 focus:ring-yellow-400"
                  [checked]="respuesta === question.userAnswer"
                  disabled
                />
                <span>{{ respuesta }}</span>
              </label>
            }
          </li>
        </ul>

        <!-- Mostrar el motivo condicionalmente -->
        <div *ngIf="question.showJustification" class="mt-4 p-4 bg-gray-200 rounded">
          <h1 class="text-center font-bold">Motivo de respuesta correcta:</h1>
          <app-text-sanitizer [text]="question.justification"></app-text-sanitizer>
        </div>
      </div>
    </div>
  </div>

  <!-------------------- Modal de reporte ----------------->
  <div
  id="reportModal"
  class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white p-8 rounded-lg">
    <h2 class="text-xl mb-4 font-bold">
      Indique el motivo de reportar esta pregunta
    </h2>
    <textarea
      id="reportReason"
      class="w-full p-2 border border-gray-300 rounded-lg mb-4"
      rows="4"
      placeholder="Motivo del reporte"
    ></textarea>
    <div class="flex justify-center mt-8">
      <button
        class="text-gray-900 hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg px-2 py-2 mr-8"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
        (click)="sendReport()"
      >
        Enviar
      </button>
    </div>
  </div>
</div>


<!-- ****************************** AÑADIR FOOTER AQUÍ **********************************-->
  <app-footer />
