<footer class="bg-white">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-1 gap-8 px-4 py-6 lg:pt-8 md:grid-cols-3 text-center">
      <div>
        <h1 class="mb-6 text-xl font-bold text-gray-900 uppercase">PREPARA BOMBERO</h1>
        <p class="text-gray-500 mt-2 text text-center">Prepárate para el futuro, supera el examen y enciende tu carrera como bombero.</p>
        <div class="flex items-center text-gray-500 justify-center mt-5">
            <i class="fa-solid fa-envelope fa-lg mr-2 text-yellow-500"></i>
            <a title="Enviar correo" href="mailto:preparabombero@gmail.com">preparabombero2024&#64;gmail.com</a>
        </div>
      </div>
      <div>
          <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Páginas</h3>
          <ul class="text-gray-500">
            <li class="text-gray-500 hover:text-gray-700">
              <a [routerLink]="['/']" style="cursor: pointer">Home</a>
            </li>
            <li class="text-gray-500 hover:text-gray-700">
              <a [routerLink]="['/terminos-y-condiciones']" style="cursor: pointer">Términos y Condiciones</a>
            </li>
            <li class="text-gray-500 hover:text-gray-700">
              <a [routerLink]="['/politica-de-privacidad']" style="cursor: pointer">Política de Privacidad</a>
            </li>
            <li class="mt-10">
              Realizada por Jesús Monda y Álvaro Pérez
            </li>
          </ul>
      </div>
      <div>
        <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Síguenos</h3>
        <div class="flex space-x-4 mt-2 justify-center">
            <a href="#" class="text-black-500 hover:text-primaryColor">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="#" class="text-red-500 hover:text-primaryColor">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p class="text-gray-500 mt-5">© 2024 preparaBombero</p>
      </div>
    </div>
  </div>
</footer>
