.testimonials {
  text-align: center;
  padding: 50px;
}

.testimonials h2 {
  font-size: 26px;
  color: #DE9A17;
}

.testimonials h3 {
  font-size: 28px;
  font-weight: bold;
}

.testimonial-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 325px;
  text-align: left;
  margin: 25px 10px ;

}

.stars {
  color: gold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.client-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.client-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.client-details {
  display: flex;
  flex-direction: column;
}

.client-details h4 {
  margin: 0;
  font-size: 16px;
}

.client-details p {
  margin: 0;
  font-size: 14px;
  color: gray;
}

