<header class="bg-gray-800 text-white py-2">
  <div class="header-container mx-auto flex justify-center items-center">
    <div
      class="text-sm items-center"
      [routerLink]="['/listado-de-examenes']"
      style="cursor: pointer"
    >
      {{ title }}
    </div>
  </div>
</header>
<nav class="bg-white py-4">
  <div class="nav-container mx-12 flex justify-between items-center">
    <div>
      <img
        ngSrc="logo.png"
        alt="Prepara Bombero"
        width="125"
        height="116"
        priority
        [routerLink]="['']"
        style="cursor: pointer"
      />
    </div>

    <div class="flex-1 flex justify-end items-center space-x-6">
      <!--------------- Botones e iconos de la home y examenes ---------------->
      @if(isNotAuth){
      <button
        class="text-gray-900 bg-white hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        [routerLink]="['/login']"
        style="cursor: pointer"
      >
        Login
      </button>
      <button
        class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        [routerLink]="['/register']"
        style="cursor: pointer"
      >
        Registrarse
      </button>
      }

      <!--------------- Botones e iconos si eres ADMIN ---------------->
      @if(isAdmin || isUser){
      <div class="flex items-center space-x-4">
        <div
          class="icon-text mt-4"
          [routerLink]="['/home']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-house fa-lg mb-3"></i>
          <span>Home</span>
        </div>
        <div
          class="icon-text mt-4"
          [routerLink]="['/examenes']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-folder fa-lg mb-3"></i>
          <span>Exámenes</span>
        </div>
        <!-- <div
          class="icon-text mt-4"
          [routerLink]="['/preguntas-destacadas']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-house fa-lg mb-3"></i>
          <span>Destacadas</span>
        </div> -->
        @if(isAdmin){
        <!-- <div class="icon-text mt-4" style="margin-right: 0.8rem; cursor: pointer" >
              <i class="fa-solid fa-globe fa-lg mb-3"></i>
              <span>IPs</span>
            </div> -->
        <!-- <div class="icon-text mt-4"   style="margin-right: 0.8rem; cursor: pointer">
              <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value=""  disabled class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-orange-300 dark:peer-focus:ring-orange-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-400"></div>
              </label>
              <span>Subscripción</span>

            </div> -->
        <div
          class="icon-text mt-4"
          [routerLink]="['/admin/examenes']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-table-list fa-lg mb-3"></i>
          <span>Información</span>
        </div>
        <div
          class="icon-text mt-4"
          [routerLink]="['/admin/reportes']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-ban fa-lg mb-3"></i>
          <span>Reportes</span>
        </div>
        <div
          class="icon-text mt-4"
          [routerLink]="['/admin/temario']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-book fa-lg mb-3"></i>
          <span>Temario</span>
        </div>
        }

        <div
          class="icon-text mt-4"
          [routerLink]="['/profile']"
          routerLinkActive="active-icon"
          style="margin-right: 0.8rem; cursor: pointer"
        >
          <i class="fa-solid fa-user fa-lg mb-3"></i>
          <span>Perfil</span>
        </div>
        <button
          class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          style="cursor: pointer"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </div>
      }
    </div>
  </div>
</nav>
