<header class="bg-gray-800 text-white py-2">
  <div class="header-container mx-auto flex justify-center items-center">
    <div
      class="text-sm items-center"
      [routerLink]="['/examenes']"
      style="cursor: pointer"
    >
      <p>Actualmente contamos con 10 temas y 260 preguntas</p>
    </div>
  </div>
</header>
<nav class="bg-white py-4">
  <div class="nav-container mx-12 flex justify-between items-center">
    <div>
      <img
        ngSrc="logo.png"
        alt="Prepara Bombero"
        width="125"
        height="116"
        priority
        [routerLink]="['']"
        style="cursor: pointer"
      />
    </div>

    <div class="flex-1 flex justify-end items-center space-x-6">
      <!--------------- Botones e iconos de la home y examenes ---------------->
      <ng-container *ngIf="currentRoute === ''">
        <button
          class="text-gray-900 bg-white hover:bg-gray-100 border border-colorButtonPrimary focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          [routerLink]="['/login']"
          style="cursor: pointer"
        >
          Login
        </button>
        <button
          class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          [routerLink]="['/register']"
          style="cursor: pointer"
        >
          Sign Up
        </button>
      </ng-container>

      <!--------------- Botones e iconos si eres ADMIN ---------------->
      <ng-container *ngIf="isAdmin && (currentRoute === 'temas' || currentRoute === 'examenes' || currentRoute === 'ips' || currentRoute === 'reportes' || currentRoute === 'test' || currentRoute === 'perfil')">
        <div class="icon-text hover:bg-gray-400" [routerLink]="['/lista']" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>IPs</span>
        </div>
        <div class="icon-text hover:bg-gray-400" [routerLink]="['/examenes']" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Examenes</span>
        </div>
        <div class="icon-text hover:bg-gray-400" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Reportes</span>
        </div>
        <div class="icon-text hover:bg-gray-400" [routerLink]="['/temas']" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Tests</span>
        </div>
        <div class="icon-text hover:bg-gray-400" [routerLink]="['/temas']" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white "
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Temas</span>
        </div>
        <div class="icon-text hover:bg-gray-400" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white "
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Perfil</span>
        </div>
        <button
          class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          [routerLink]="['']"
          style="cursor: pointer"
        >
          Cerrar sesión
        </button>
      </ng-container>

      <!------------------------------ Botones e iconos de USER -------------------------->
      <ng-container *ngIf="!isAdmin && (currentRoute ==='temas' || currentRoute === 'test' || currentRoute === 'examanes')">
        <div class="icon-text hover:bg-gray-400" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Tests</span>
        </div>
        <div class="icon-text hover:bg-gray-400" style="margin-right: 0.7rem">
          <svg
            class="w-7 h-7 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Perfil</span>
        </div>
        <button
          class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          [routerLink]="['']"
          style="cursor: pointer"
        >
          Cerrar sesión
        </button>
      </ng-container>
    </div>
  </div>
</nav>
