.header-container {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-container {
  padding-left: 20px;
  padding-right: 20px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.icon-text span {
  font-size: 0.75rem;
}
