<!--------------- Añadir header aquí ---------------->
<app-header />

<!--------------- Añadir examanes aquí ---------------->
<div class="container">
  <h1>Lista de exámenes de nuestras preguntas:</h1>

  <h2>Andalucía:</h2>
  <ul>
    <li>1. Convocatoria de Andalucía 2023</li>
    <li>2. Convocatoria de Andalucía 2022</li>
    <li>3. Convocatoria de Andalucía 2021</li>
  </ul>

  <h2>Madrid:</h2>
  <ul>
    <li>1. Convocatoria de Madrid 2021</li>
    <li>2. Convocatoria de Madrid 2020</li>
    <li>3. Convocatoria de Madrid 2019</li>
  </ul>

  <h2>Castilla-La Mancha:</h2>
  <ul>
    <li>1. Convocatoria de Castilla-La Mancha 2024</li>
  </ul>
</div>

<!--------------- Añadir footer aquí ---------------->
<app-footer />
