<!-------------------------------------- PARA EL FOOTER --------------------------------------> 
<div class="flex flex-col h-screen">

  <!-------------------------------------- HEADER --------------------------------------> 
  <app-header />

  <!-------------------------------------- AÑADIR EXAMENES AQUÍ --------------------------------------> 
  <div class="mx-auto">
    <app-text-sanitizer [text]="description"></app-text-sanitizer>
  </div>

  <!-------------------------------------- FOOTER --------------------------------------> 
  <app-footer />
  
</div>
