  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-formColor rounded-2xl flex flex-col p-6 w-full md:w-1/3 items-center">
      <div class="flex items-center justify-center mb-4">
        <img src="logo.png" alt="Prepara Bombero" width="125" height="116" [routerLink]="['/login']" style="cursor: pointer;">
      </div>
  
      <p class="text-center text-sm text-gray-600 mb-6 max-w-xs">
        Introduce a continuación la nueva contraseña que quieres tener, y vuelve a repetirla en el siguiente campo.
      </p>
  
      <form class="w-full flex flex-col items-center">
        <div class="mb-4 w-3/4">
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            class="form-input mt-1 border border-gray-400 rounded-lg w-full px-4 py-2"
            placeholder="Contraseña"
          />
          <input
            [(ngModel)]="repeatPassword"
            name="repeatPassword"
            type="password"
            class="form-input mt-3 border border-gray-400 rounded-lg w-full px-4 py-2"
            placeholder="Repite contraseña"
          />
        </div>
  
        <div class="w-2/4 flex justify-center mt-2">
          <button
            type="submit"
            class="bg-primaryColor text-white py-2 rounded-lg hover:bg-yellow-600 w-[170px]"
            (click)="recoveryPassword()"
          >
            Cambiar contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
  

  