<!--------------- Añadir header aquí ---------------->
<app-header [isAdmin]="isAdmin" />

<!--------------- Añadir temas aquí ---------------->
<div class="container mx-auto py-8">
  <div class="space-y-6">
    <div>
      <h2 class="text-xl font-bold">Específico</h2>
      <div class="mt-4 ml-4">
        <div *ngFor="let tema of temasEspecificos" class="flex flex-col">
          <div class="flex justify-between items-center py-2 border-b border-gray-300">
            <div class="flex items-center">
              <button (click)="tema.expanded = !tema.expanded" class="mr-2 focus:outline-none">
                {{ tema.expanded ? '-' : '+' }}
              </button>
              <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
              <span class="ml-2">{{ tema.nombre }}</span>
            </div>
            <span>{{ tema.preguntas }}</span>
          </div>
          <div *ngIf="tema.expanded && tema.subtemas.length > 0" class="ml-8">
            <div *ngFor="let subtema of tema.subtemas" class="flex justify-between items-center py-2 border-b border-gray-200">
              <div class="flex items-center">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
                <span class="ml-2">{{ subtema.nombre }}</span>
              </div>
              <div class="flex items-center">
                <span>{{ subtema.preguntas }}</span>
                <img class="ml-2 hover:bg-black"
                  ngSrc="examen.png"
                  alt="Prepara Bombero"
                  width="24"
                  height="24"
                  style="cursor: pointer"
                />
                <!--
                <button class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-2  ml-3" (click)="examinarme(subtema)">
                  >
                </button>
              -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold">Legislación</h2>
      <div class="mt-4 ml-4">
        <div *ngFor="let tema of temasLegislacion" class="flex flex-col">
          <div class="flex justify-between items-center py-2 border-b border-gray-300">
            <div class="flex items-center">
              <button (click)="tema.expanded = !tema.expanded" class="mr-2 focus:outline-none">
                {{ tema.expanded ? '-' : '+' }}
              </button>
              <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
              <span class="ml-2">{{ tema.nombre }}</span>
            </div>
            <span>{{ tema.preguntas }}</span>
          </div>
          <div *ngIf="tema.expanded && tema.subtemas.length > 0" class="ml-8">
            <div *ngFor="let subtema of tema.subtemas" class="flex justify-between items-center py-2 border-b border-gray-200">
              <div class="flex items-center">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
                <span class="ml-2">{{ subtema.nombre }}</span>
              </div>
              <div class="flex items-center">
                <span>{{ subtema.preguntas }}</span>
                <button class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-1 py-1 ml-4" (click)="examinarme(subtema)">
                  Examinarme
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold">Otros</h2>
      <div class="mt-4 ml-4">
        <div *ngFor="let tema of temasOtros" class="flex flex-col">
          <div class="flex justify-between items-center py-2 border-b border-gray-300">
            <div class="flex items-center">
              <button (click)="tema.expanded = !tema.expanded" class="mr-2 focus:outline-none">
                {{ tema.expanded ? '-' : '+' }}
              </button>
              <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
              <span class="ml-2">{{ tema.nombre }}</span>
            </div>
            <span>{{ tema.preguntas }}</span>
          </div>
          <div *ngIf="tema.expanded && tema.subtemas.length > 0" class="ml-8">
            <div *ngFor="let subtema of tema.subtemas" class="flex justify-between items-center py-2 border-b border-gray-200">
              <div class="flex items-center">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-500">
                <span class="ml-2">{{ subtema.nombre }}</span>
              </div>
              <div class="flex items-center">
                <span>{{ subtema.preguntas }}</span>
                <button class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-1 py-1 ml-4" (click)="examinarme(subtema)">
                  Examinarme
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center  ">
      <div class="space-x-8  mt-8">
        <button class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5">
          Examen
        </button>
        <button class="text-white bg-colorButtonPrimary hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5">
          Repaso
        </button>
      </div>
    </div>
  </div>
</div>

<!--------------- Añadir modal aquí ---------------->

<!--------------- Añadir footer aquí ---------------->
<app-footer/>
