<footer class="footer">
  <div class="footer-content ">
    <div class="footer-section">
      <h2>PREPARA BOMBERO</h2>
      <p class="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p><i class="fas fa-phone"></i> +34 666666666</p>
    </div>
    <div class="footer-section">
      <h3>Páginas</h3>
      <ul>
        <li class="lorem-text"><a href="#">Home</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p>© 2024 preparaBombero</p>
    </div>
  </div>
</footer>
