<div class="min-h-screen flex items-center justify-center bg-white-100">
  <div class="bg-colorForm rounded-lg shadow-lg p-8 flex">
    <div class="w-1/2">
      <img ngSrc="formulario.png" alt="Bombero en incendio"  width="660" height="815" class="rounded-lg">
    </div>
    <div class="w-1/2 ml-4 flex flex-col justify-center">
      <div class="flex items-center justify-center mb-6">
        <img ngSrc="logo.png" alt="Prepara Bombero" width="125" height="175"  [routerLink]="['']" style="cursor: pointer;">
      </div>
      <form>
        <div class="mb-4 flex justify-center">
          <input type="email" class="form-input mt-1 w-2/3  border-gray-400 rounded-lg" placeholder="Email" />
        </div>
        <div class="mb-4 flex justify-center">
          <input type="password" class="form-input mt-1 w-2/3 border border-gray-400 rounded-lg" placeholder="Password" />
        </div>
        <div class="flex justify-center">
          <button type="submit" class="w-2/3 bg-colorButtonPrimary text-white py-2 px-4 rounded-lg hover:bg-yellow-600">
            Login
          </button>
        </div>
      </form>
      <p class="mt-4 text-center">
        ¿No tienes cuenta?, <a href="#" class="text-blue-500" [routerLink]="['/register']" style="cursor: pointer;"> Regístrate </a>
      </p>
    </div>
  </div>
</div>
