<!-- // TODO
1. Hacer que se quede selecciona los topics, guardandolos en localStorage
 hacer función que haga lo que hace el click, y aparte guardar en localstorage el topic.topicId. Después si este topic.topicId está en la lista, más, si no está -
2. Añadir modal de aviso multicuentas
2.1 Arreglar el icono que está alado del número de preguntas
2.2 Alinear el número de preguntas
3. Al hacer click en el boton de examen y de repaso, que te lleve a /test?topicId=1&topicId=10&topicId=564 -> Todos los id de los topic seleccionados, tanto topic como subtopics (tanto topics como subtopics, son los almacenados en el localStorage)
-->

<!-- Para el footer -->
<div class="flex flex-col h-screen">
  <!--------------- Añadir header aquí ---------------->
  <app-header />

  <!--------------- Añadir temas aquí ---------------->
  <div class="container mx-auto py-8">
    <div class="space-y-6">
      <div>
        @for(item of objectKeys(topics); track $index){
          <h2 class="text-xl font-bold mt-8">{{item}}</h2>
          <div class="mt-2 ml-4">
            @for (topic of topics[item]; track $index) {
              <div class="flex flex-col">
                <div class="flex justify-between items-center py-2 border-b border-gray-300">
                  <div class="flex items-center">
                    <button (click)="topic.expanded = !topic.expanded" class="mr-2 focus:outline-none">
                      {{ topic.expanded ? "+" : "-" }}
                    </button>
                    <input
                      [checked]="topic.selected"

                      type="checkbox"
                      class="form-checkbox h-5 w-5 text-yellow-500"
                    />
                    <span class="ml-2">{{ topic.title }}</span>
                  </div>
                  <span>{{ topic.quizCount }}</span>
                </div>
                <div [hidden]="topic.expanded">
                  <app-topics [topics]="topic.topics" [margin]="3" />
                </div>
              </div>
            }
          </div>
        }
      </div>

      <div class="flex justify-center">
        <div class="space-x-8 mt-8">
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
          >
            Examen
          </button>
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
            (click)="openModalTest()"
            >
            Repaso
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--------------- Añadir modal aquí ---------------->
  <div id="multicuentas" class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-lg">
      <h2 class="text-xl mb-4 font-bold text-center">
        AVISO MULTICUENTA
      </h2>
      <p>Recordamos que no está permitido el uso de una cuenta por más de una persona.</p>
      <div class="flex justify-center mt-4">
        <button class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="closeModalTest()">
          Entendido
        </button>
      </div>
    </div>
  </div>

  <!--------------- Añadir footer aquí ---------------->
  <app-footer />
</div>
