<!-- Para el footer -->
<div class="flex flex-col h-screen">
  <!--------------- Añadir header aquí ---------------->
  <app-header />

  <!--------------- Eslogan ---------------->
  <div class="mx-auto py-4">
    LA ÚNICA PLATAFORMA DONDE TODAS LAS PREGUNTAS SON DE EXÁMENES OFICIALES POR SOLO 24,95€/MES
  </div>

  <!--------------- Div de botones y temas ---------------->
  <div class="container mx-auto">
    <div class="space-y-6">

      <!--------------- Botones de Examen y Repaso ---------------->
      @if (!not_auth) {
        <div class="flex justify-center mt-8">
          <div class="text-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">Debes de estar registrado para poder realizar examenes/repaso por temas, pero sí puedes realizar los de la carpeta "Exámenes"</span>
          </div>
        </div>
      }

      <div class="flex justify-center">
        <div class="space-x-8">
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
            (click)="startExam()"
            [disabled]="!not_auth">
            Examen
          </button>
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
            (click)="startReview()"
            [disabled]="!not_auth">
            Repaso
          </button>
        </div>
      </div>

      <!-- Boton deselección -->
      <div class="max-w-4xl mx-auto w-full ">
        <div class="mt-6">
          <button class="inline-flex items-center gap-2 text-sm font-medium border rounded-lg px-4 py-2
                  text-primaryColor border-primaryColor bg-transparent
                  hover:bg-primaryColor hover:text-white transition"
            (click)="deselectAllTopics()">
            Desmarcar todos los temas
          </button>
        </div>
      </div>





      <!------------------------ Temas -------------------------->
      <div>
        @for(item of objectKeys(topics); track $index){
          <h2 class="text-xl font-bold mt-8">{{item}}</h2>
          <div class="mt-2 ml-4">
            @for (topic of topics[item]; track $index) {
              <div class="flex flex-col">
                <div class="flex justify-between items-center py-2 border-b border-gray-300">
                  <div class="flex items-center">
                    <button (click)="topic.expanded = !topic.expanded" class="mr-2 focus:outline-none">
                      {{ topic.expanded ? "+" : "-" }}
                    </button>
                    <input
                      [checked]="topic.selected"
                      (change)="selectedTopic(topic.id, $event, item)"
                      type="checkbox"
                      class="form-checkbox h-5 w-5 text-yellow-500"
                    />
                    <span class="ml-2 mr-14">{{ topic.title }}</span>
                  </div>
                  <div class="flex items-center">
                    <span class="mr-4">{{ topic.quizCount }}</span>
                    <i (click)="startExamForSpecificTopic(topic.id)"
                      title="Hacer examen"
                      class="mr-2 fa-solid fa-pen-to-square fa-lg"
                      style="cursor: pointer">
                    </i>
                    <i (click)="startReviewForSpecificTopic(topic.id)"
                      title="Hacer repaso"
                      class="fa-solid fa-file-pen fa-lg"
                      style="cursor: pointer">
                    </i>
                  </div>
                </div>
                <div [hidden]="topic.expanded">
                  <app-topics [topics]="topic.topics" [margin]="3" />
                </div>
              </div>
            }
          </div>
        }
      </div>

      
    </div>
  </div>

  <!--------------- Añadir modal aquí ---------------->
  <div id="multicuentas" class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-lg">
      <h2 class="text-xl mb-4 font-bold text-center">
        AVISO MULTICUENTA
      </h2>
      <p>Recordamos que no está permitido el uso de una cuenta por más de una persona.</p>
      <div class="flex justify-center mt-4">
        <button class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="closeModalTest()">
          Entendido
        </button>
      </div>
    </div>
  </div>

  <!--------------- Añadir footer aquí ---------------->
  <app-footer />
</div>
