.container {
  max-width: 650px;
  margin: auto;
}

h2 {
  color: #333;
}

.flex {
  display: flex;
}


.ml-4 {
  margin-left: 2.5rem; /* margen de los temas */
}

.ml-8 {
  margin-left: 3rem; /* margen de los subtemas */
}

.button-examinarme {
  color: white; /* text-white */
  background-color: var(--primary-color); /* bg-primaryColor with fallback */
  font-weight: 500; /* font-medium */
  border-radius: 0.5rem; /* rounded-lg */
  font-size: 0.875rem; /* text-sm */
  padding: 0.5rem 0.5rem; /* px-5 py-2.5 */
  text-align: center; /* text-center */


}

/* ------ MODAL ------------- */
.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .bg-white {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
}







