<!-- // TODO
1. Hacer que se quede selecciona los topics, guardandolos en localStorage
2. Añadir modal de aviso multicuentas
2.1 Arreglar el icono que está alado del número de preguntas
2.2 Alinear el número de preguntas
3. Al hacer click en el boton de examen y de repaso, que te lleve a /test?topicId=1&topicId=10&topicId=564 -> Todos los id de los topic seleccionados, tanto topic como subtopics
-->

<!-- Para el footer -->
<div class="flex flex-col h-screen">
  <!--------------- Añadir header aquí ---------------->
  <app-header />

  <!--------------- Añadir temas aquí ---------------->
  <div class="container mx-auto py-8">
    <div class="space-y-6">
      <div>
        @for(item of objectKeys(topics); track $index){
          <h2 class="text-xl font-bold mt-8">{{item}}</h2>
          <div class="mt-2 ml-4">
            @for (topic of topics[item]; track $index) {
              <div class="flex flex-col">
                <div
                  class="flex justify-between items-center py-2 border-b border-gray-300">
                  <div class="flex items-center">
                    <button (click)="topic.expanded = !topic.expanded" class="mr-2 focus:outline-none">
                      {{ topic.expanded ? "+" : "-" }}
                    </button>
                    <input
                      [checked]="topic.selected"
                      type="checkbox"
                      class="form-checkbox h-5 w-5 text-yellow-500"
                    />
                    <span class="ml-2">{{ topic.title }}</span>
                  </div>
                  <span>{{ topic.quizCount }}</span>
                </div>
                <div [hidden]="topic.expanded">
                  <app-topics [topics]="topic.topics" [margin]="3" />
                </div>
              </div>
            }
          </div>
        }
      </div>

      <!-- <div>
        <h2 class="text-xl font-bold">Legislación</h2>
        <div class="mt-4 ml-4">
          <div *ngFor="let tema of temasLegislacion" class="flex flex-col">
            <div
              class="flex justify-between items-center py-2 border-b border-gray-300"
            >
              <div class="flex items-center">
                <button
                  (click)="tema.expanded = !tema.expanded"
                  class="mr-2 focus:outline-none"
                >
                  {{ tema.expanded ? "-" : "+" }}
                </button>
                <input
                  type="checkbox"
                  class="form-checkbox h-5 w-5 text-yellow-500"
                />
                <span class="ml-2">{{ tema.nombre }}</span>
              </div>
              <span>{{ tema.preguntas }}</span>
            </div>
            <div *ngIf="tema.expanded && tema.subtemas.length > 0" class="ml-8">
              <div
                *ngFor="let subtema of tema.subtemas"
                class="flex justify-between items-center py-2 border-b border-gray-200"
              >
                <div class="flex items-center">
                  <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-yellow-500"
                  />
                  <span class="ml-2">{{ subtema.nombre }}</span>
                </div>
                <div class="flex items-center">
                  <span>{{ subtema.preguntas }}</span>
                  <button
                    class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-1 py-1 ml-4"

                  >
                    Examinarme
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2 class="text-xl font-bold">Otros</h2>
        <div class="mt-4 ml-4">
          <div *ngFor="let tema of temasOtros" class="flex flex-col">
            <div
              class="flex justify-between items-center py-2 border-b border-gray-300"
            >
              <div class="flex items-center">
                <button
                  (click)="tema.expanded = !tema.expanded"
                  class="mr-2 focus:outline-none"
                >
                  {{ tema.expanded ? "-" : "+" }}
                </button>
                <input
                  type="checkbox"
                  class="form-checkbox h-5 w-5 text-yellow-500"
                />
                <span class="ml-2">{{ tema.nombre }}</span>
              </div>
              <span>{{ tema.preguntas }}</span>
            </div>
            <div *ngIf="tema.expanded && tema.subtemas.length > 0" class="ml-8">
              <div
                *ngFor="let subtema of tema.subtemas"
                class="flex justify-between items-center py-2 border-b border-gray-200"
              >
                <div class="flex items-center">
                  <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-yellow-500"
                  />
                  <span class="ml-2">{{ subtema.nombre }}</span>
                </div>
                <div class="flex items-center">
                  <span>{{ subtema.preguntas }}</span>
                  <button
                    class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-1 py-1 ml-4"
                  >
                    Examinarme
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="flex justify-center">
        <div class="space-x-8 mt-8">
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
          >
            Examen
          </button>
          <button
            class="text-white bg-primaryColor hover:bg-yellow-600 focus:outline-none font-medium rounded-lg px-5 py-2.5"
          >
            Repaso
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--------------- Añadir modal aquí ---------------->

  <!--------------- Añadir footer aquí ---------------->
  <app-footer />
</div>