<div class="min-h-screen flex items-center justify-center">
  <div class="bg-colorForm rounded-2xl  flex flex-col md:flex-row">
    <div class="md:w-1/2 md:block hidden hidden-md">
      <img ngSrc="formulario.png" alt="Bombero en incendio" width="600" height="815" class="rounded-3xl" priority="">
    </div>
    <div class="w-full md:w-1/2 p-3.5 flex flex-col justify-center items-center">
      <div class="flex items-center justify-center mb-6">
        <img ngSrc="logo.png" alt="Prepara Bombero" width="125" height="116" [routerLink]="['']" style="cursor: pointer;">
      </div>
      <form class="w-full flex flex-col items-center">
        <div class="mb-4 flex justify-center w-full">
          <input [(ngModel)]="name" name="name"  type="text" class="form-input mt-1 input-width border-gray-400 rounded-lg" placeholder="Nombre" />
        </div>
        <div class="mb-4 flex justify-center w-full">
          <input [(ngModel)]="surname" name="surname"  type="text" class="form-input mt-1 input-width border-gray-400 rounded-lg" placeholder="Apellido" />
        </div>
        <div class="mb-4 flex justify-center w-full">
          <input [(ngModel)]="email" name="email" type="email" class="form-input mt-1 input-width border-gray-400 rounded-lg" placeholder="Email" />
        </div>
        <div class="mb-4 flex justify-center w-full">
          <input [(ngModel)]="password" name="password" type="password" class="form-input mt-1 input-width border border-gray-400 rounded-lg" placeholder="Password" />
        </div>
        <div class="mb-4 flex justify-center w-full">
          <input [(ngModel)]="repeatPassword" name="repeatPassword" type="password" class="form-input mt-1 input-width border border-gray-400 rounded-lg" placeholder="Introduce de nuevo la contraseña" />
        </div>
        <div class="w-full flex justify-center mt-4">
          <button type="submit" class="input-width bg-colorButtonPrimary text-white py-2.5 rounded-lg hover:bg-yellow-600" (click)="register()">
            Registrarse
          </button>
        </div>
      </form>
      <p class="mt-4 text-center">
        Si tienes una cuenta, <a href="#" class="text-blue-500" [routerLink]="['/login']" style="cursor: pointer;">inicia sesión</a>
      </p>
    </div>
  </div>
</div>

{{status}}
