/* Contenedor de la barra de progreso */
.progress-bar-container {
  background-color: #e9ebee;
  border-radius: 9999px;
  height: 1rem;          /* ✅ antes: 1.rem */
  position: relative;
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;      /* ✅ para que no se salga el relleno */
}

/* Barra de progreso */
.progress-bar {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 9999px;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.75rem;    /* ✅ para que quepa bien */
  line-height: 1rem;     /* ✅ alinea texto vertical */
  white-space: nowrap;
  overflow: hidden;      /* ✅ antes: hidd */
  text-overflow: ellipsis;
  transition: width 0.5s ease;
}



/* ------ Paginación ------------- */
.finish-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



/* ------ MODAL ------------- */
.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .bg-white {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
}



