/* Contenedor de la barra de progreso */
.progress-bar-container {
  background-color: #e9ebee; /* Color de fondo del contenedor */
  border-radius: 9999px; /* Bordes redondeados */
  height: 1.rem; /* Altura de la barra */
  position: relative; /* Posicionamiento relativo para el texto */
  width: 75%; /* Ancho del contenedor */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Barra de progreso */
.progress-bar {
  background-color: var(--primary-color); /* Color de la barra de progreso */
  height: 100%; /* Altura completa */
  border-radius: 9999px; /* Bordes redondeados */
  width: 0; /* Ancho inicial de 0 */
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar elementos verticalmente */
  justify-content: center; /* Centrar elementos horizontalmente */
  color: white; /* Color del texto */
  white-space: nowrap; /* Evitar que el texto se envuelva */
  overflow: hidd; /* Ocultar el desbordamiento */
  text-overflow: ellipsis; /* A침adir puntos suspensivos si el texto es demasiado largo */
  transition: width 0.5s ease; /* A침adir una transici칩n suave al cambiar el ancho */
}


/* ------ Paginaci칩n ------------- */
.finish-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



/* ------ MODAL ------------- */
.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .bg-white {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
}



