<app-header />

<h1 class="text-center font-bold text-2xl my-6">
  Preguntas guardadas
</h1>

<!--------------- Añadir preguntas aquí ---------------->
  <div class="container mx-auto mt-8 max-w-2xl">
    <div
      class="question-block mb-12 relative"
      *ngFor="let question of savedQuestions; let i = index"
    >
      <h2 class="text-lg font-medium mb-2">
        Tema - {{ question.topicTitle }}
      </h2>
      <div class="mb-4 p-2 bg-gray-100 rounded-md" style="margin-right: 4rem">
        <p>Pregunta {{ i + 1 }} - {{ question.title }}</p>
      </div>
      @if (question.isCorrected) {
        <i
          title="Ver motivo"
          class="fa-solid fa-circle-info fa-lg absolute top-[calc(50%-23px)] right-7"
          style="color: #DE9A17; cursor: pointer;"
          (click)="showJustification(question.id, !question.showJustification)"
        >
        </i>
      }
      <ul class="list-none space-y-2">
        <li >
          @if (question.option1 !="") {
            <label class="flex items-center space-x-3">
              <input
                type="radio"
                class="form-radio h-4 w-4 text-yellow-500 border-gray-300 focus:ring-yellow-400"
                [value]="question.option1"
                [disabled]="question.isCorrected"
                [checked]="question.isCorrected && question.optionSelected== question.option1"
                (click)="handleButtonClick(question.id, question.option1)"
              />
              <span [ngClass]="{
                'text-green-500': question.isCorrected && question.option1 === question.correctAnswer,
                'text-red-500': question.isCorrected && question.option1 !== question.correctAnswer
              }">
                {{ question.option1 }}
              </span>
            </label>
          }
          @if (question.option2 !="") {
            <label class="flex items-center space-x-3">
              <input
                type="radio"
                class="form-radio h-4 w-4 text-yellow-500 border-gray-300 focus:ring-yellow-400"
                [value]="question.option2"
                [disabled]="question.isCorrected"
                [checked]="question.isCorrected && question.optionSelected == question.option2"
                (click)="handleButtonClick(question.id, question.option2)"
              />
              <span [ngClass]="{
                'text-green-500': question.isCorrected && question.option2 === question.correctAnswer,
                'text-red-500': question.isCorrected && question.option2 !== question.correctAnswer
              }">
                {{ question.option2 }}
              </span>
            </label>
          }
          @if (question.option3 !="") {
            <label class="flex items-center space-x-3">
              <input
                type="radio"
                class="form-radio h-4 w-4 text-yellow-500 border-gray-300 focus:ring-yellow-400"
                [value]="question.option3"
                [disabled]="question.isCorrected"
                [checked]="question.isCorrected && question.optionSelected == question.option3"
                (click)="handleButtonClick(question.id, question.option3)"
              />
              <span [ngClass]="{
                'text-green-500': question.isCorrected && question.option3 === question.correctAnswer,
                'text-red-500': question.isCorrected && question.option3 !== question.correctAnswer
              }">
                {{ question.option3 }}
              </span>
            </label>
          }
          @if (question.option4 !="") {
            <label class="flex items-center space-x-3">
              <input
                type="radio"
                class="form-radio h-4 w-4 text-yellow-500 border-gray-300 focus:ring-yellow-400"
                [value]="question.option4"
                [disabled]="question.isCorrected"
                [checked]="question.isCorrected && question.optionSelected == question.option4"
                (click)="handleButtonClick(question.id, question.option4)"
              />
              <span [ngClass]="{
                'text-green-500': question.isCorrected && question.option4 === question.correctAnswer,
                'text-red-500': question.isCorrected && question.option4 !== question.correctAnswer
              }">
                {{ question.option4 }}
              </span>
            </label>
          }
        </li>
        <!-- Mostrar el motivo condicionalmente -->
        <div *ngIf="question.showJustification" class="mt-4 p-4 bg-gray-200 rounded">
          <h1 class="text-center font-bold">Motivo de respuesta correcta:</h1>
          <app-text-sanitizer [text]="question.justification"></app-text-sanitizer>
        </div>
      </ul>
      <i class="text-primaryColor fa-regular fa-floppy-disk absolute bottom-1 right-2 cursor-pointer text-xl"
        (click)="deleteSavedQuestion(question.id)"
        title="Quitar pregunta guardada">
      </i>
    </div>
  </div>
  

<app-footer />
