<!-- TODO  - Lo he pasado a flowbite y ya no hace falta usar @media. Se ha reducido bastante el css -->
<div class="container mx-auto testimonials text-center">
  <h2 class="text-lg font-bold mb-4">Testimonios</h2>
  <h3 class="text-2xl font-bold">Qué dicen Nuestros Clientes</h3>
  <p class="text-gray-500 mt-2 mb-8">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
  <div class="testimonial-cards grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
      <div class="testimonial-card bg-white rounded-lg p-6 text-left mx-auto">
          <div class="stars text-center text-yellow-300 text-xl mb-4">★★★★★</div>
          <p class="mb-4">"Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community."</p>
          <div class="client-info flex items-center">
              <img src="logo.png" alt="Sabo Masties" class="rounded-full w-12 h-12 mr-4">
              <div class="client-details">
                  <h4 class="text-lg font-bold">Sabo Masties</h4>
                  <p class="text-gray-500">Founder Rolex</p>
              </div>
          </div>
      </div>
      <div class="testimonial-card bg-white rounded-lg p-6 text-left mx-auto">
          <div class="stars text-center text-yellow-300 text-xl mb-4">★★★★★</div>
          <p class="mb-4">"Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community."</p>
          <div class="client-info flex items-center">
              <img src="logo.png" alt="Musharaf Chowdhury" class="rounded-full w-12 h-12 mr-4">
              <div class="client-details">
                  <h4 class="text-lg font-bold">Musharaf Chowdhury</h4>
                  <p class="text-gray-500">Founder Ayro UI</p>
              </div>
          </div>
      </div>
      <div class="testimonial-card bg-white rounded-lg p-6 text-left mx-auto">
          <div class="stars text-center text-yellow-300 text-xl mb-4">★★★★★</div>
          <p class="mb-4">"Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community."</p>
          <div class="client-info flex items-center">
              <img src="logo.png" alt="William Smith" class="rounded-full w-12 h-12 mr-4">
              <div class="client-details">
                  <h4 class="text-lg font-bold">William Smith</h4>
                  <p class="text-gray-500">Founder Trolex</p>
              </div>
          </div>
      </div>
      <div class="testimonial-card bg-white rounded-lg p-6 text-left mx-auto">
          <div class="stars text-center text-yellow-300 text-xl mb-4">★★★★★</div>
          <p class="mb-4">"Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community."</p>
          <div class="client-info flex items-center">
              <img src="logo.png" alt="William Smith" class="rounded-full w-12 h-12 mr-4">
              <div class="client-details">
                  <h4 class="text-lg font-bold">William Smith</h4>
                  <p class="text-gray-500">Founder Trolex</p>
              </div>
          </div>
      </div>
  </div>
</div>
