/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";

@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #DE9A17;
    --primary-hover-color: #faebce;
    --form-color: #F6F6F6;
}


