<!-- // TODO
1. Hacer una petición cuando entras en la vista para que cuando le des al ojito para mostrar el motivo del reporte, petición a GET /report (obtiene todos pero filtras por el id del reporte)
2. Petición a DELETE /report/<id> cuando le des a la papelera
3. Yo cambiaria los iconos de la papelera y el ojo
-->

<!-- Para el footer -->
<div class="flex flex-col h-screen">
  <!--------------- Añadir header aquí ---------------->
  <app-header />

  <h1 class="text-center font-bold" style="font-size: 2rem">
    Preguntas Reportadas
  </h1>

  <!--------------- Añadir modal eliminación de pregunta aquí (removeModal) ---------------->
  <div
    id="removeQuestion"
    class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white p-8 rounded-lg">
      <h2 class="text-xl mb-4 font-bold">
        ¿Estás seguro que has revisado la pregunta reportada?
      </h2>
      <div class="flex justify-center mt-8">
        <button
          class="text-gray-900 hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg px-2 py-2 mr-8"
          (click)="closeRemoveModal()"
        >
          No, cancelar
        </button>
        <button
          class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="RemoveQuestion()"
        >
          Sí, eliminar
        </button>
      </div>
    </div>
  </div>

  <!--------------- Añadir modal visualización de pregunta aquí (seeModal) ---------------->
  <div
    id="seeQuestion"
    class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white p-8 rounded-lg">
      <h2 class="text-xl mb-4 font-bold">
        La pregunta ha sido reportada por el siguiente motivo:
      </h2>
      <div class="flex justify-center mt-8">
        <button
          class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="closeSeeModal()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>

  <!--------------- Añadir preguntas aquí ---------------->
  <div class="container mx-auto mt-8 max-w-2xl">
    <div
      class="question-block mb-12 relative"
      *ngFor="let question of questions; let i = index"
    >
      <h2 class="text-lg font-medium mb-2">Pregunta {{ i + 1 }}</h2>
      <div
        class="mb-4 p-2 bg-gray-100 rounded-md"
        style="margin-right: 4rem"
      >
        <p>{{ question.question }}</p>
      </div>
      <div class="icon-text absolute right-9 top-11">
        <i
          (click)="openRemoveModal()"
          class="fa-solid fa-trash-can fa-xl"
          style="cursor: pointer"
        ></i>
      </div>
      <div class="icon-text absolute right-0 top-11">
        <i
          (click)="openSeeModal()"
          class="fa-solid fa-eye fa-xl"
          style="cursor: pointer"
        ></i>
      </div>
      <ul class="ml-8">
        <li *ngFor="let option of question.options" class="mb-2">
          <div class="flex items-center">
            <div class="flex-none w-6 font-medium">{{ option.letter }}</div>
            <div class="flex-grow p-2 bg-white rounded-md">
              {{ option.text }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--------------- Añadir footer aquí ---------------->
  <app-footer />
</div>