.icon-text:hover i {
  color: var(--primary-color); /* Cambia este valor al color deseado */
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Asegúrate de que el modal esté por encima de otros elementos */
}

.hidden {
  display: none;
}

.modal .bg-white {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
}
