<!-- // TODO
1. El titulo y los subtemas son input (puedes crear otro componente topics, llamado admin-topics por ejemplo)
  Son input porque se puede editar los titulos, haciendo una petición a PUT /topic/<topicId> (al igual que hicimos con los temas en la home)
2. Yo cambiaría los botones
3. Hay que implementar el orden, lo hablamos. (PENDIENTE)
4. Implementar el boton eliminar. petición a DELETE /topic/<topicId> (al poner el modal, debe salir un aviso de que se eliminanran todas las preguntas realcionadas)
5. Implementar el boton añadir subtema y tema(esto con un modal). petición a POST /topic. Yo a crear el tema le he puesto type=primary y para crear el subtema, type=secondary.
6. El icono de la papelera lo cambiaría por un -
7. Añadir el boton que te lleve a la vista con todas las preguntas. /preguntas?topicId=10, creo que lo has llamado /admin/temario/10, pues tambien. Pero es una page nueva
-->

<!-- Para el footer -->
<div class="flex flex-col h-screen">

<!-- ****************************** AÑADIR HEADER AQUÍ **********************************-->
  <app-header />

<!-- ****************************** RECORRER TEMARIO AQUÍ **********************************-->

  <div class="container mx-auto mt-8 max-w-3xl">
    @for(item of objectKeys(topics); track $index){
      <!--------------- Recorrer temario especifco ---------------->
      <div class="mb-16">
        <h1 class="text-xl font-bold mb-2">{{item}}</h1>
        @for (topic of topics[item]; track $index) {
          <div class="question-block mb-6 relative w-full ">
            <ul class="ml-2">
              <li class="mb-2">
                <div class="flex items-center">
                  <input (input)="editTitle($event, topic)" class="flex-grow p-2 bg-gray-200 rounded-md border border-gray-300" value="{{ topic.title }}">
                  <div class="ml-4">
                    <i (click)="openModalSubtopic(topic.id)" class="fa-solid fa-plus fa-lg" style="cursor: pointer"></i>
                  </div>
                  <div class="ml-2">
                    <i (click)="openModalDeleteTopic(topic.id)" class="fa-solid fa-trash-can fa-lg" style="cursor: pointer"></i>
                  </div>
                  <div class="ml-2">
                    <i class="fa-solid fa-arrow-right fa-lg" [routerLink]="['/admin/temario/'+ topic.id]" style="cursor: pointer"></i>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="ml-2" style="margin-top: 1.4rem">
              <app-admin-topics [topics]="topic.topics" [margin]="2" />
            </ul>
          </div>
        }
      </div>
    }
  </div>


<!-- ****************************** BOTÓN FLOTANTE + **********************************-->

  <button class="fixed bottom-10 right-12 text-white bg-primaryColor hover:bg-yellow-600 rounded-full w-12 h-12 shadow-lg flex items-center justify-center"
    (click)="openModalCreateTopic()"
    >
    <i class="fa-solid fa-plus fa-2xl"></i>
  </button>


<!-- ****************************** AÑADIR MODAL CREACIÓN TEMA AQUÍ(+)**********************************-->
  <div id="crearTema" class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 w-96 rounded-lg">
      <h2 class="text-xl mb-4 font-bold text-center">
        Añadir tema
      </h2>
      <!--------------- Formulario de creación de tema ---------------->
      <div class="mb-4">
        <label for="temaName" class="block text-gray-700 font-bold mb-2">Tema</label>
        <input type="text" id="title" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Tema 10,...">
      </div>

      <div class="mb-6">
        <label for="selectBloque" class="block text-gray-700 font-bold mb-2">Selecciona Bloque</label>
        <select id="categoryTitle" class="w-full p-2 border border-gray-300 rounded-md">
            <option value="" disabled selected>Selecciona Bloque</option>
            <option value="Específico">Específico</option>
            <option value="Legislación">Legislación</option>
            <option value="Otros">Otros</option>
        </select>
      </div>

      <!--------------- Botones modal ---------------->
      <div class="flex justify-center mt-4">
        <button class="text-gray-900 hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg px-2 py-2 mr-8"
          (click)="closeModalCreateTopic()">
            Cancelar
        </button>
        <button class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="createTopic()">
            Crear
        </button>
      </div>
    </div>
  </div>


<!-- ****************************** MODAL CREACIÓN SUBTEMA **********************************-->

<div id="crearSubtopic" class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 w-96 rounded-lg">
      <h2 class="text-xl mb-4 font-bold text-center">
        Añadir subtema
      </h2>
      <!--------------- Formulario de creación de  subtema ---------------->
      <div class="mb-4">
        <label for="temaName" class="block text-gray-700 font-bold mb-2">Subtema</label>
        <input type="text" id="subtopicTitle" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Tema 10,...">
      </div>

      <div class="flex justify-center mt-4">
        <button class="text-gray-900 hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg px-2 py-2 mr-8"
          (click)="closeModalSubtopic()">
            Cancelar
        </button>
        <button class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
          (click)="createSubtopic()">
            Crear
        </button>
      </div>
    </div>
  </div>


<!-- ****************************** MODAL ELIMINACIÓN TEMA **********************************-->

  <div id="deleteTopic"
    class="modal hidden fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-8 rounded-lg">
        <h2 class="text-xl mb-4 font-bold text-center">
          ¿Estás seguro que quieres eliminar este tema?, <br>
          se ELIMINARÁN TODOS los subtemas.
        </h2>
        <div class="flex justify-center mt-4">
          <button class="text-gray-900 hover:bg-gray-300 border border-primaryColor focus:outline-none font-medium rounded-lg px-2 py-2 mr-8"
            (click)="closeModalDeleteTopic()">
              No, cancelar
          </button>
          <button class="text-white bg-primaryColor hover:bg-yellow-600 border border-primaryColor focus:outline-none font-medium rounded-lg px-4 py-2"
            (click)="deleteTopic()">
              Sí, eliminar
          </button>
        </div>
      </div>
    </div>


<!-- ****************************** AÑADIR FOOTER **********************************-->

  <app-footer />




</div>
